dash
dash-bootstrap-components
langchain
langchain-community
langchain-google-genai
google-generativeai
faiss-cpu
python-dotenv
requests
beautifulsoup4
pandas
PyPDF2
graphviz
spacy
textblob
googletrans==4.0.0-rc1
gunicorn
